<section class="hero is-fullheight">
  <div class="is-justify-content-center">
    <div class="is-pulled-right">
      <%= image_tag "logo.png", style: "height:512px" %>
    </div>
  </div>
</section>
